<json-editor [options]="editorOptions" [data]="data"></json-editor>



  
        <div class="example-button-row">
            
            <button mat-raised-button color="primary" style="float: right;margin-right: 20px;margin-top:20px;width: 250px;" (click)="submit()" [disabled]="!isJsonValid">{{buttonText}}</button>
            <mat-form-field *ngIf="generatedUrl"  class="custom_textbox example-full-width " appearance="fill" >
                <mat-label >Generated URL</mat-label>
                <input matInput readonly  [(ngModel)]="generatedUrl">
                <button  matSuffix mat-icon-button aria-label="Clear" >
                    <mat-icon [cdkCopyToClipboard]="generatedUrl">content_cut</mat-icon>
                  </button>
              </mat-form-field>
        </div>



        
    